# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [24]:

country = ["TW","JP","EN","KR"]
population = np.random.randint(1000, 100000, size=len(country))

In [25]:
data = {'國家': country,
        '人口': population}
#

In [26]:
data

{'國家': ['TW', 'JP', 'EN', 'KR'], '人口': array([ 8751, 23417, 12454, 56808])}

In [27]:
data = pd.DataFrame(data)

In [28]:
data

   國家     人口
0  TW   8751
1  JP  23417
2  EN  12454
3  KR  56808

In [29]:
# 
list_labels = ["國家", "人口"]
list_cols = [country, population]

In [30]:
tmp = zip(list_labels,list_cols)

In [31]:
zipped = list(tmp)

In [32]:
data1 = pd.DataFrame(dict(zipped))

In [33]:
data1

   國家     人口
0  TW   8751
1  JP  23417
2  EN  12454
3  KR  56808

In [37]:
data["國家"][data["人口"].idxmax()]

'KR'

In [45]:
data.sort_values(["人口"],ascending = False).iloc[0][0]

'KR'